@using BlazorApp1.Data
@using BlazorApp1.Helpers
@using System.Net.Http.Headers
@using System.Net.Mime
@using BlazorApp1.Pages.Components
@inject SharedDataService dataSvs
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JSRuntime
@inject DialogService DialogService

@using Blazored.SessionStorage
@inject ISessionStorageService sessionStorage



    <!--

    <MCard Height="400"
           Width="256"
           Class="mx-auto">
        <MNavigationDrawer Permanent>
            <MListItem>
                <MListItemContent>
                    <MListItemTitle class="text-h6">
                        Application
                    </MListItemTitle>
                    <MListItemSubtitle>
                        subtext
                    </MListItemSubtitle>
                </MListItemContent>
            </MListItem>

            <MDivider></MDivider>

            <MList Dense
                   Nav>
               
                 <MListItem Link>
                        <MListItemIcon>
                        <MIcon>mdi-image</MIcon>
                        </MListItemIcon>

                        <MListItemContent>
                            <MListItemTitle>Collections</MListItemTitle>
                        </MListItemContent>
                    </MListItem>

                <MListItem Link>
                    <MListItemIcon>
                        <MIcon>mdi-tray-full</MIcon>
                    </MListItemIcon>

                    <MListItemContent>
                        <MListItemTitle>Pockets</MListItemTitle>
                    </MListItemContent>
                </MListItem>


            </MList>
        </MNavigationDrawer>
    </MCard>
        -->


 



<MList Dense Nav>
    <MListItem Style="background-color:white" Link class="elevation-4" OnClick="@NavMenuGoToColl">
              
                        <MListItemIcon>
                        <MIcon>mdi-image</MIcon>
                        </MListItemIcon>
                     
                        <MListItemContent  >
               
                            <MListItemTitle>Collections</MListItemTitle>
                        </MListItemContent>
                      
                    </MListItem>

    <MListItem Style="background-color:white" Link class="elevation-4" OnClick="@NavMenuGoToCards">
                    <MListItemIcon>
                        <MIcon>mdi-tray-full</MIcon>
                    </MListItemIcon>

                    <MListItemContent>
                        <MListItemTitle>Packets</MListItemTitle>
                    </MListItemContent>
                </MListItem>
      
       
 </MList>

  

 

 <!--


  <ul class="list-group  gap-2 px-1 ul-style"  style="width:100%;">
              
              <a class="list-group-item"  href="">Home</a>
              <a class="list-group-item shadow-sm rounded" href="counter">Counter</a>
              <a class="list-group-item" href="fetchdata">Fetch Data</a>



         


     
            <li class="list-group-item list-group-item-action px-1 shadow rounded" style="background-color:#cbac88;">
            <NavLink  onclick="@NavMenuGoToColl" >
                <span class="px-4" >Collections</span>
            </NavLink>
            </li>

            <li class="list-group-item list-group-item-action px-1 shadow rounded" style="background-color:#cbac88;">
            <NavLink  onclick="@NavMenuGoToCards" >
                <span class="px-4" > Cards</span>
            </NavLink>
            </li>

           
                <a class="list-group-item" href="dropzonepg">Drop Zone</a>
              <a class="list-group-item" href="skiasharp">SkiaSharp </a>

              <a class="list-group-item" onclick="@NavMenuGoToNoteTools">Note Tools </a>


              <li class="list-group-item list-group-item-action px-1"  style="background-color:bisque">
                <NavLink class="nav-link" @onclick="()=>collsexpandSubNav = !collsexpandSubNav">
                    <span class="bi bi-collection px-2" aria-hidden="true"></span> Collections
                </NavLink>
             </li>
              @if (collsexpandSubNav)
                {
                    <div class="list-group-item list-group-item-action px-2">
                    <NavLink class="expand-menu "  onclick="@NavMenuGoToColl" >
                        <span class="px-4" >Select Collections</span>
                    </NavLink>
                    </div>
                    <div class="list-group-item list-group-item-action px-2">
                    <NavLink class="" href="">
                        <span class="px-4">Notes</span>
                    </NavLink>
                    </div>
                }
         

                         <li class="list-group-item list-group-item-action px-1">
        <NavLink class="nav-link" @onclick="()=>cardsexpandSubNav = !cardsexpandSubNav">
            <span class="bi bi-card-text px-2" aria-hidden="true"></span> Cards
        </NavLink>
        </li>
        @if (cardsexpandSubNav)
        {
            <div class="list-group-item list-group-item-action px-2">
            <NavLink class="expand-menu " onclick="@NavMenuGoToCards" >
                <span class="px-4" > Cards</span>
            </NavLink>
            </div>
            <div class="list-group-item list-group-item-action px-2">
            <NavLink class="" href="">
                <span class="px-4">Search Card</span>
            </NavLink>
            </div>
            
        }
        
            <li class=" list-group-item list-group-item-action" >
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="list-group-item list-group-item-action"  style="background-color:bisque; ">
              <a class="nav-link " href="#">Link1</a>
            </li>
            <li class="list-group-item list-group-item-action">
              <a class="nav-link" href="#">Link2</a>
            </li>
          
             



       </ul>
      -->


      

@code {
    private bool collsexpandSubNav;
    private bool cardsexpandSubNav;

    private bool renameproject ;

   

    [Parameter]
    public EventCallback<string> GoToMenu { get; set; }

    protected override void OnInitialized()
    {

        dataSvs.OnChange += StateHasChanged;
    }

    IJSObjectReference _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //for load JS File
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./myjs/BootstrapModalInterop.js");
            
        }


    }


    public void Dispose()
    {

        dataSvs.OnChange -= StateHasChanged;
    }

    private Task NavMenuGoToColl()
    {
        
        return GoToMenu.InvokeAsync("collection");
    }

    private Task NavMenuGoToCards()
    {
        return GoToMenu.InvokeAsync("cards");
    }

    private Task NavMenuGoToNoteTools()
    {
        return GoToMenu.InvokeAsync("notetools");
    }

    private Task NavMenuGoToNoteCards()
    {
        return GoToMenu.InvokeAsync("notecards");
    }

    private string tempName;
    private void EnableRenameProject()
    {
        renameproject = true;

        tempName = dataSvs.MainProject.Name;

    }

    private async Task RenameProject()
    {

        if (!string.IsNullOrWhiteSpace(dataSvs.MainProject.Name))
        {
            await dataSvs.UpdateProject();

        }else
        {
            dataSvs.MainProject.Name = tempName ;
            await dataSvs.UpdateProject();
        }
        renameproject = false;
    }



    private async Task DownloadProject()
    {

    
        await DialogService.OpenAsync<SaveProjectDialogPage>("Save Project", null, 
                new DialogOptions() { Width = "700px", Height = "300px", Resizable = true, Draggable = true,ShowClose = false });

        /*
         
        
        #region Download file from GDrive as bitArray
        HttpClient httpClient = new HttpClient()
            {
                BaseAddress = new Uri("https://www.googleapis.com/drive/v3/files/")
            };
        byte[] downloadFile = await httpClient.GetByteArrayAsync("12PVVjxsLQnK5zzpHN7IYpR3uWPyW6TkR?key=AIzaSyBl_QdS1lMUgHW2BY6blYTJWejuMeMjnMM&alt=media");
        #endregion
         */
/*
                await dataSvs.DownloadProjectFile();
                //  var fileName = $"{dataSvs.MainProject.Name} - {DateTime.Now.ToString()}.snotes";
                //'https://www.googleapis.com/drive/v3/files/12PVVjxsLQnK5zzpHN7IYpR3uWPyW6TkR?key=[YOUR_API_KEY]&alt=media'

                #region Get Upload Location Uri

                var gDriveApiclient = ClientFactory.CreateClient("GDriveApi");
                GDriveFileId idContent = await gDriveApiclient.GetFromJsonAsync<GDriveFileId>("files/generateIds?count=1");
                Console.WriteLine(idContent.ids[0].ToString());

                var gDriveApiUploadclient = ClientFactory.CreateClient("GDriveApiUpload");

                var fileName = $"{dataSvs.MainProject.Name} - {DateTime.Now.ToString()}.snotes";
                var metaContent = JsonContent.Create(new { name = fileName, mimeType = "application/zip", id = idContent.ids[0] });
                HttpResponseMessage result = await gDriveApiUploadclient.PostAsync("?uploadType=resumable", metaContent);
                var jsonresult = result.Headers.Location.Query;
                #endregion
                #region Upload File in chunks
                IEnumerable<byte[]> chunksEnum = dataSvs.fileArray.Chunk(256 * 1024);
                foreach (byte[] chunk in chunksEnum){
                    Stream stream = new MemoryStream(chunk);
                    var streamContent = new StreamContent(stream);
                    var uploadresult = await gDriveApiUploadclient.PutAsync(jsonresult, streamContent);
                }
                #endregion
                #region Set File as public
                var permissionContent = JsonContent.Create(new { role = "reader", type = "anyone" });
                var setPermission = await gDriveApiclient.PostAsync($"files/{idContent.ids[0]}/permissions", permissionContent);
                #endregion
                Console.WriteLine($"Upload Finished");

                */
        /*
        
        #region convert bitArray to zip and download it
        var fileName = $"{dataSvs.MainProject.Name} - {DateTime.Now.ToString()}.snotes";
        await _module.InvokeVoidAsync("blazorDownloadFile1", fileName, "application/zip", downloadFile);
        #endregion

         */
    }
}

